name: AI Tuber CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r src/saint_graph/requirements.txt
        pip install -r src/body/cli/requirements.txt
        pip install -r requirements-dev.txt

    - name: Run tests
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/src
        pytest
      env:
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
