name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GOOGLE_API_KEY: "dummy_key_for_ci"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip install -r src/saint_graph/requirements.txt
        pip install -r src/body/cli/requirements.txt

    - name: Run Tests
      run: |
        pytest -v
